<!-- <!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

	<title>Node File Uploads</title>
</head>
<body>

	<div class="container">
		<h1>File Upload</h1>
	</div>

	<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


</body>
</html> -->

<!-- <MDBContainer fluid className='mt-5'>
      <section className='text-center'>
        <div
          className='p-5 bg-image'
          style={{ backgroundImage: "url('https://mdbootstrap.com/img/new/textures/full/171.jpg')", height: '300px' }}
        ></div>

        <div
          className='card mx-4 mx-md-5 shadow-5-strong'
          style={{ marginTop: '-100px', background: 'hsla(0, 0%, 100%, 0.8)', backdropFilter: 'blur(30px)' }}
        >
          <div className='card-body py-5 px-md-5'>
           

            <MDBRow class='d-flex justify-content-center'>
              <MDBCol lg='6' class='col-lg-6'>
                <form>
                  <MDBInput className='mb-4'  id='name' 
    	                	label='Product Name'
    	                	type="text" 
    	                	value = {name}
    	                	onChange={e => setName(e.target.value)}
    	                	required
    	                 />


    	                 <MDBTextArea className='mb-3'  id='description' 
    	                 	label='Product Description'
    	                 	// as="textarea" 
    	                 	rows={3}
    	                 	value = {description}
    	                 	onChange={e => setName(e.target.value)}
    	                 	required
    	                  />
    	         
    	                  <MDBInput className='mb-3'  id='size' 
    	                  	label='Product Size'
    	                  	type="text" 
    	                  	rows={3}
    	                  	value = {size}
    	                  	onChange={e => setName(e.target.value)}
    	                  	required
    	                   />



                  <MDBBtn type='submit' block className='mb-4'>
                    Send
                  </MDBBtn>
                </form>
              </MDBCol>
            </MDBRow>
          </div>
        </div>
      </section>
    </MDBContainer> -->